
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

*{
    margin: 0;
    padding: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;

}
body{
    width: 100%;

}

header{
    height: 100vh;
    background-image: url('img/DSC_7740.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;

}

.top-bar{
    display: flex;
    background-color: rgba(100, 100, 100, 0.308);

}

#menu{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
}

.logo{
    display: flex;
    height: 70px;
    cursor: pointer;
    order: -1;
    width: 200px;
    justify-content: center;
}
.logo img{
    height: 72px;
    width: 120px;
}

#menu a{
    color: rgb(255, 254, 254);
    font-weight: lighter;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
    margin: 12px;
}

#menu a:hover{
    text-decoration: underline;
}

header #menu a:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    color:#5ADBA8;
    background-color: rgba(100, 100, 100, 0.308);
    border-radius: 10px;
    width: 80px;
    padding: 5px;
    margin-right: 50px;
    text-decoration: none;
}

header h1{
    font-size: 130px;
    text-align: center;
    margin-top: 105px;
    font-weight: bolder;
}

#sec1{
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.linha{
    border: solid #5ADBA8 1px; 
    width: 10vw;
    margin-bottom: 60px;
    margin-top: 10px;
}

.icones{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.icone{
    width: 200px;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.911);
}
.links{
    order: -1;
    width: 100px;
}
footer a{
    color:white;
    text-decoration: none;
}
.newsletter{
    
margin-right:35em; 
}